In [1]:
# Packages for data analysis
import pandas as pd
import numpy as np

# Packages for train/test dataset split
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_table('C:\\Users\\karasovo\\bert\\sample_annotated2.csv', sep=';')
print(df.shape)
df.head()

(100, 18)

,Column1,...1,Row.names,rowid,lat2,lon2,user_id,Column2,text2,retweeted,lang,id,created_at,noChar,iso_lang_1,prob_1,text1,classname
0,0,24121,26215,108414,51.329654,12.373450300000002,29430823,NaN,(Senior) Digital Product Designer in,False,ca,"1,18E+18",26.09.2019 12:55,37,en,0.828701,(Senior) Digital Product Designer in #Leipzig ...,work
1,1,5037,120680,485238,52.308321,4.76523399,632420479,NaN,Jugging down my nd Liter of coffee for today. ...,False,en,"3,27E+17",24.04.2013 14:25,57,en,0.965668,Jugging down my 2nd Liter of coffee for today....,transport
2,2,12531,156862,755079,49.104809,6.196049299999999,2159817706,NaN,Happy Weekend ??,False,en,"9,54E+17",19.01.2018 10:50,17,en,0.818342,Happy Weekend ?? #Metz #Lorraine https://t.co/...,services
3,3,44008,69312,235610,49.248500,-123.1088,215292728,NaN,"Good morning, Vancouver! :)",False,en,"1,18E+18",02.10.2019 14:13,28,en,0.740567,"Good morning, Vancouver! :) #Sunrise 07:13, no...",services
4,4,53090,93493,319774,49.302954,7.466072,434326976,NaN,"Not good, not bad...disappointing",False,en,"1,19E+18",29.10.2019 16:55,34,en,0.881157,"Not good, not bad...disappointing\r\n#MartinaP...",home

In [3]:
sentences = list(df['text1'].values) # text will be the input to the model

In [4]:
y_aspect_true = list(df['classname'].values) # true labels (aspect)

In [ ]:
## This will enable your coLab to use GPU!!! 
import torch
device = "cuda:0" if torch.cuda.is_available() else "cpu"
device

In [5]:
from transformers import pipeline

In [190]:
# Applying classifier to the list of tweets
activity_classifier = pipeline("zero-shot-classification", model = 'facebook/bart-large-mnli')
activity_result = activity_classifier(list(sentences), candidate_labels = [
'Home sleep waking up', 'Family Christmas','Reading books', 'TV YouTube Netflix',

'Campus school university education study','Work job', 'Training secondment traineeship',
'Office lunch colleagues department director','Business industry research conferences and forums',

'Outdoor sports recreation','Nature landscape wildlife','Mountain sea weather','Dog walking',

'Delays passengers arrival departure','Cycling bikes scooters','Airport flight lounge',

'Culture and entertainment','Religion','Groceries and shopping','Healthcare and well-being',
'Indoor workout gym', 'Services and retail','Café restaurants dinner','Cities and locations','Art shows performances',

'Politics news affairs','Beliefs wishes kindness','Chatting'],)
activity_result[10]

{'sequence': 'I just finished running 15.19 km in 1h:44m:00s with #Endomondo #endorphins https://t.co/IcOhWq0Qr2',
 'labels': ['Outdoor sports recreation',
  'Healthcare and well-being',
  'Culture and entertainment',
  'Cities and locations',
  'Mountain sea weather',
  'Chatting',
  'Nature landscape wildlife',
  'Indoor workout gym',
  'Politics news affairs',
  'Beliefs wishes kindness',
  'Family Christmas',
  'Services and retail',
  'Home sleep waking up',
  'Work job',
  'Delays passengers arrival departure',
  'Business industry research conferences and forums',
  'Art shows performances',
  'TV YouTube Netflix',
  'Religion',
  'Airport flight lounge',
  'Office lunch colleagues department director',
  'Dog walking',
  'Training secondment traineeship',
  'Campus school university education study',
  'Café restaurants dinner',
  'Reading books',
  'Cycling bikes scooters',
  'Groceries and shopping'],
 'scores': [0.6085062026977539,
  0.07061654329299927,
  0.03387893736362457,
  0.0266408808529377,
  0.02322106994688511,
  0.021802473813295364,
  0.02007937617599964,
  0.018256900832057,
  0.014189253561198711,
  0.013943718746304512,
  0.01254245638847351,
  0.011880832724273205,
  0.011204767972230911,
  0.01109965518116951,
  0.010199464857578278,
  0.010024050250649452,
  0.009746940806508064,
  0.009048821404576302,
  0.009012704715132713,
  0.006881112698465586,
  0.006878658663481474,
  0.006757560186088085,
  0.006526187993586063,
  0.006308320909738541,
  0.006147013511508703,
  0.005432201083749533,
  0.004631717223674059,
  0.004542188253253698]}

In [191]:
# Checking predictions for the single tweet
activity_result[5]

{'sequence': 'Good morning, Riyadh! :) #Sunrise 05:43, noon 11:45, sunset 17:47 UTC+3, September 25. Day length: 12h 4m.',
 'labels': ['Home sleep waking up',
  'Cities and locations',
  'Chatting',
  'Delays passengers arrival departure',
  'Culture and entertainment',
  'Beliefs wishes kindness',
  'Healthcare and well-being',
  'Mountain sea weather',
  'Nature landscape wildlife',
  'Office lunch colleagues department director',
  'Café restaurants dinner',
  'Religion',
  'Airport flight lounge',
  'Work job',
  'Indoor workout gym',
  'Campus school university education study',
  'Services and retail',
  'TV YouTube Netflix',
  'Training secondment traineeship',
  'Family Christmas',
  'Business industry research conferences and forums',
  'Cycling bikes scooters',
  'Outdoor sports recreation',
  'Politics news affairs',
  'Art shows performances',
  'Reading books',
  'Dog walking',
  'Groceries and shopping'],
 'scores': [0.2151312232017517,
  0.14941072463989258,
  0.05957677215337753,
  0.048940304666757584,
  0.04275856539607048,
  0.041838355362415314,
  0.037798233330249786,
  0.03569110110402107,
  0.03256365656852722,
  0.027838822454214096,
  0.025378607213497162,
  0.02308196760714054,
  0.0215394739061594,
  0.020648851990699768,
  0.019460851326584816,
  0.01941576786339283,
  0.019387710839509964,
  0.019091002643108368,
  0.018993133679032326,
  0.018956879153847694,
  0.017805447801947594,
  0.014659207314252853,
  0.014561270363628864,
  0.014423576183617115,
  0.013714105822145939,
  0.011681843549013138,
  0.00966503657400608,
  0.005987469106912613]}

In [192]:
# Transforming list of predictions back to dataframe
df_result = pd.DataFrame(activity_result)

In [193]:
# Checking predictions
df_result.head()

,sequence,labels,scores
0,(Senior) Digital Product Designer in #Leipzig ...,"[Work job, Chatting, Culture and entertainment...","[0.5525718331336975, 0.048335060477256775, 0.0..."
1,Jugging down my 2nd Liter of coffee for today....,"[Culture and entertainment, Cities and locatio...","[0.1096544936299324, 0.09830424934625626, 0.08..."
2,Happy Weekend ?? #Metz #Lorraine https://t.co/...,"[Cities and locations, Culture and entertainme...","[0.17791105806827545, 0.12168395519256592, 0.0..."
3,"Good morning, Vancouver! :) #Sunrise 07:13, no...","[Cities and locations, Home sleep waking up, M...","[0.24160616099834442, 0.15366628766059875, 0.0..."
4,"Not good, not bad...disappointing\r\n#MartinaP...","[Reading books, Chatting, Home sleep waking up...","[0.15553468465805054, 0.09845012426376343, 0.0..."

In [179]:
# Saving prediction results to csv
df_result.to_csv('result.csv')

In [194]:
np.argmax(activity_result[0]['scores'])

0

In [195]:
# Leaving only first prediction for validation
y_activity_pred = [result['labels'][np.argmax(result['scores'])] for result in activity_result]
y_activity_pred[10]

'Outdoor sports recreation'

In [196]:
# Replacing predictions with general categories for validation
for i in range(len(y_activity_pred)):
  
    if y_activity_pred[i] == 'Home sleep waking up':
        y_activity_pred[i] = 'home'
    if y_activity_pred[i] == 'Reading books':
        y_activity_pred[i] = 'home'
    if y_activity_pred[i] == 'Family Christmas':
        y_activity_pred[i] = 'home'
    if y_activity_pred[i] == 'TV YouTube Netflix':
        y_activity_pred[i] = 'home'      

    if y_activity_pred[i] == 'Campus school university education study':
        y_activity_pred[i] = 'work'
    if y_activity_pred[i] == 'Work job':
        y_activity_pred[i] = 'work'
    if y_activity_pred[i] == 'Training secondment traineeship':
        y_activity_pred[i] = 'work'
    if y_activity_pred[i] == 'Office lunch colleagues department director':
        y_activity_pred[i] = 'work'
    if y_activity_pred[i] == 'Business industry research conferences and forums':
        y_activity_pred[i] = 'work'

    if y_activity_pred[i] == 'Outdoor sports recreation':
        y_activity_pred[i] = 'outdoors'
    if y_activity_pred[i] == 'Nature landscape wildlife':
        y_activity_pred[i] = 'outdoors'
    if y_activity_pred[i] == 'Mountain sea weather':
        y_activity_pred[i] = 'outdoors'
    if y_activity_pred[i] == 'Dog walking':
        y_activity_pred[i] = 'outdoors'

    if y_activity_pred[i] == 'Delays passengers arrival departure':
        y_activity_pred[i] = 'transport'
    if y_activity_pred[i] == 'Airport flight lounge':
        y_activity_pred[i] = 'transport'
    if y_activity_pred[i] == 'Cycling bikes scooters':
        y_activity_pred[i] = 'transport'

    if y_activity_pred[i] == 'Culture and entertainment':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Religion':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Groceries and shopping':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Healthcare and well-being':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Indoor workout gym':
        y_activity_pred[i] = 'services'        
    if y_activity_pred[i] == 'Services and retail':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Café restaurants dinner':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Cities and locations':
        y_activity_pred[i] = 'services'
    if y_activity_pred[i] == 'Art shows performances':
        y_activity_pred[i] = 'services'

    if y_activity_pred[i] == 'Politics news affairs':
        y_activity_pred[i] = 'other'
    if y_activity_pred[i] == 'Beliefs wishes kindness':
        y_activity_pred[i] = 'other'
    if y_activity_pred[i] == 'Chatting':
        y_activity_pred[i] = 'other'
  
# print list
print(y_activity_pred)

['work', 'services', 'services', 'services', 'home', 'home', 'outdoors', 'outdoors', 'services', 'services', 'outdoors', 'work', 'other', 'services', 'other', 'services', 'other', 'services', 'other', 'services', 'other', 'other', 'services', 'work', 'transport', 'services', 'home', 'work', 'services', 'services', 'services', 'other', 'work', 'services', 'services', 'outdoors', 'other', 'services', 'home', 'other', 'other', 'services', 'services', 'services', 'services', 'transport', 'work', 'services', 'services', 'services', 'work', 'services', 'services', 'services', 'services', 'services', 'services', 'other', 'services', 'outdoors', 'other', 'transport', 'other', 'transport', 'services', 'services', 'other', 'outdoors', 'services', 'services', 'services', 'services', 'services', 'work', 'services', 'services', 'services', 'services', 'services', 'services', 'services', 'outdoors', 'outdoors', 'other', 'home', 'outdoors', 'outdoors', 'services', 'services', 'services', 'transport', 'other', 'services', 'transport', 'other', 'services', 'outdoors', 'services', 'outdoors', 'services']

In [197]:
y_activity_true = list(df['classname'].values) # true labels (annotated by human)

In [198]:
from sklearn.metrics import classification_report, confusion_matrix

In [199]:
# Classification report for the general categories (1 row left unannotated, will be fixed)
print(classification_report(y_activity_true, y_activity_pred))

              precision    recall  f1-score   support

        home       0.40      0.33      0.36         6
       other       0.53      0.56      0.55        16
    outdoors       0.33      0.33      0.33        12
    services       0.60      0.82      0.69        38
   transport       0.83      0.42      0.56        12
        work       0.75      0.38      0.50        16

    accuracy                           0.57       100
   macro avg       0.57      0.47      0.50       100
weighted avg       0.60      0.57      0.56       100